.item {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  border-top: 0.5px solid #E8E8E8;
  font-size: 16px;
  color: #404040;
  cursor: pointer;

  &:first-child {
    border-top: none;
  }
}

.item-active {
  background: #ededed;
}

.tip {
  height: 62px;
  font-size: 14px;
  color: #737373;
}

.cancel {
  border-top: 8px solid #F6F7FB;
  color: #404040;
}

/**
 * 夜间模式配色
 */
.theme-dark {
  &.menu {
    background: var(--theme-dark-background-color-secondary);
  }
  .item {
    border-color: var(--theme-dark-color-primary);
    color: var(--theme-dark-color-primary)
  }
  .item-active {
    background: var(--theme-dark-background-color-primary);
  }
}
