.page {
  display: flex;
  flex-direction: column;
  /** 最小高度填充满视口，方便设置页面背景色 */
  height: 100vh;
}

.scroll-view {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 0;
}

.scroll-view-inner {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: env(safe-area-inset-bottom);
  /**
   * [skyline] position: absolute 无法跨层级定位（不支持 position: static）
   * @see https://github.com/xiaweiss/miniprogram-bug-report/issues/42
   */
  width: 100vw;
}
