/**
 * 计算轮播图点的状态
 * @param {number} swiperIndex 当前swiper的index
 * @param {number} index 当前dot的index
 * @param {number} length dot的总数
 * @returns {'active' | '' | 'middle' | 'small' | 'hide'} 点的状态，分别是：当前点、默认、中、小、隐藏
 */
function size (swiperIndex, index, length) {
  /** 最多显示的点个数，必须是奇数 */
  var max = 5

  if (swiperIndex === index) return 'active'

  // 开始位置：大大大中小
  if (swiperIndex === 0 || swiperIndex === 1) {
    if (index >= max) return 'hide'
    if (index === max - 1) return 'small'
    if (index === max - 2) return 'middle'

  // 结尾位置：小中大大大
  } else if ((swiperIndex === length - 2) || (swiperIndex === length - 1)) {
    if (index <= length - max - 1) return 'hide'
    if (index === length - max) return 'small'
    if (index === length - max + 1) return 'middle'

  // 中间位置：中大大大中
  } else {
    if (Math.abs(index - swiperIndex) > max - (max + 1) / 2) return 'hide'
    if (Math.abs(index - swiperIndex) === max - (max + 1) / 2) return 'middle'
  }

  return ''
}

/**
 * 计算轮播图点的偏移量
 */
function offset (swiperIndex, length) {
  /** 最多显示的点个数，必须是奇数 */
  var max = 5
  /** 单个点的宽度 */
  var width = 10

  // 开始位置
  if (swiperIndex === 0 || swiperIndex === 1)
    return max / 2 * width

  // 结尾位置
  else if (swiperIndex === length - 2 || swiperIndex === length - 1)
    return (length - max + max / 2) * width

  // 中间位置
  else
    return (swiperIndex + 1 - ((max + 1) / 2) + max / 2) * width
}

module.exports = {
  size: size,
  offset: offset
}
