module.exports = function em (text) {
  // &nbsp;nbsp; 替换为空格 ' '
  text = text.replace(getRegExp('(&(nbsp;)+)', 'g'), function (match) {
    return match.replace(getRegExp('nbsp;', 'g'), ' ').replace('&', '')
  })

  var regex = getRegExp('(<em>[\s\S]*?<\/em>)', 'g')
  var parts = text.split(regex)
  var result = []
  for (var i = 0; i < parts.length; i++) {
    var part = parts[i]
    if (part) {
      if (regex.test(part)) {
        var regex2 = getRegExp('^<em>([\s\S]*)<\/em>', 'g')
        result.push({ textContent: part.replace(regex2, '$1'), nodeName: 'EM' })
      } else {
        result.push({ textContent: part, nodeName: '#text' })
      }
    }
  }

  // console.log('result', JSON.stringify(result))
  return result
}
