.container {
  height: 300px;
  padding: 20px;
}

.skyblue {
  width: 100px;
  height: 50px;
  background-color: skyblue;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 40px;
  padding: 0 20px;
  margin: 10px 0;
  border-radius: 20px;
  background: #CC5656;
  color: #fff;
}

.pink {
  width: 100px;
  height: 50px;
  background-color: pink;
}

.green {
  width: 100px;
  height: 50px;
  background-color: green;
}



