.audio {
  display: flex;
  align-items: center;
  width: 100%;
  height: 54px;
  background: #F5F6F8;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;

  .red & {
    background: #CA2A26;
  }
}

.play {
  position: relative;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-left: 13px;
  cursor: pointer;
}

.icon-play,
.icon-pause {
  width: 20px;
  height: 20px;
}

.increase-area {
  box-sizing: content-box;
  position: absolute;
  left: -12px;
  top: -12px;
  width: 100%;
  height: 100%;
  padding: 12px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.current,
.duration {
  flex-shrink: 0;
  margin: 0 10px;
  min-width: 39px;
  font-size: 14px;
  line-height: 1;
  color: #B9BDC2;

  .red & {
    color: #fff;
  }
}

.progress {
  flex-grow: 1;
  margin: 0;
  padding: 0 9px;
}
