.comment-html {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  border: 2px solid skyblue;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  word-break: break-word;
}

.reply-to-name {
  font-weight: 500;
  color: #57708C;
}

.text {
  background: pink;
  display: block;
  min-height: 100%;
  font-size: 15px;
  line-height: 21px;
  color: #333;
  letter-spacing: 0.6px;
  text-align: justify;
}