.swiper-item {
  position: relative;
  width: 303px;
  height: 404px;
}

.swiper-image-bg,
.swiper-image {
  width: 100%;
  height: 100%;
}

.swiper-image-bg {
  position: absolute;
  left: 0;
  top: 0;
}

.swiper-image {
  position: relative;
  z-index: 1;
  backdrop-filter: blur(14px);
}