.link-modal {
  width: 100%;
  flex-direction: column;
  padding: 18px 20px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  padding: 9px;
  margin-left: -9px;
  cursor: pointer;
}

.icon-close {
  width: 13px;
  height: 13px;
}

.save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 32px;
  border-radius: 16px;
  color: #fff;
  background: #CC5656;

  &.disabled {
    background: #E3E4E7;
  }
}

.icon-save {
  width: 16px;
  height: 16px;
}

.input-container {
  position: relative;
  margin-top: 18px;
}

.link-input {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 38px; // 9 + 20 + 9
  background: #F5F6F8;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #6C7684;
  word-break: break-all;

  // ios textarea 上边距有问题，单独适配一下
  &.ios {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.input-placeholder {
  color: #CC5656;
}

.paste {
  position: absolute;
  right: 0;
  top: 0;
  padding: 9px;
  cursor: pointer;
}

.icon-home-paste {
  width: 20px;
  height: 20px;
}
