.type {
  display: flex;
  align-items: center;
}

.item {
  position: relative;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: #7F848C;

  &.active {
    color: #353535;
  }
}

.item-underline {
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 20px;
  height: 3px;
  margin: auto;
  border-radius: 1.5px;
  background: #CC5656;
  transform: translate(-50%);
  visibility: hidden;

  .active & {
    visibility: visible;
  }
}

.new-tip {
  position: absolute;
  right: -6px;
  top: -2px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #F55F4E;
}

.new-num-tip {
  position: absolute;
  left: 100%;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 16px;
  height: 16px;
  padding: 0 2px;
  border-radius: 8px;
  background: #F55F4E;
  font-size: 12px;
  color: #fff;
}
