.swipe-action {
  position: relative;
  display: flex;
  flex-direction: row;
}

.swipe-action-hover-class {
  background: #F6F7FB;
}

.swipe-action-right {
  position: absolute;
  right: 0;
  top: 0;
  /* hack: @see https://github.com/xiaweiss/miniprogram-bug-report/issues/15 */
  bottom: 0;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  transform: translate3d(100%, 0, 0);
}

.transition {
  transition: transform .6s ease;
}

/* 禁止 slot 和内部的 swiper 的触摸事件 */
.slot-touchmove-disabled > swiper,
.slot-touchmove-disabled > view view {
  pointer-events: none;
}

.slot-touchmove-disabled .swipe-action-right view {
  pointer-events: auto;
}

