.checkbox {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 50%;
  border: 1.5px solid #B2B2B2;

  &.checked {
    border: none;
    background: #CC5656;
  }
}

.checkbox-checked-icon {
  width: 100%;
  height: 100%;
}
