.step {
  display: flex;
  align-items: center;
  padding: 0 15% 28px; // 34 + 14 - 20 (text top + text height - index height)
}

.item {
  position: relative;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #DEEBF8;
  font-size: 12px;
  color: #fff;

  .active & {
    background: #CC5656;
  }
}

.text {
  position: absolute;
  left: 10px;
  top: 34px;
  transform: translateX(-50%);
  width: fit-content;
  font-size: 14px;
  color: #888888;
  white-space: nowrap;

  .active & {
    color: #CC5656;
  }
}

.line {
  flex: 1;
  width: 0;
  height: 2px;
  background: #EAF4FE;

  &.active {
    background: #CC5656;
  }
}


