.pay-setting-modal {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: flex-end;
}

.close {
  padding: 10px;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-right: -10px;
}

.close-icon {
  width: 13px;
  height: 13px;
}

.scroll-view {
  max-height: 300px;
  background-color: pink;
}

.agreement-title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #353535;
}

.agreement-p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
  color: #888;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 17px 0;
}

.cancel,
.confirm {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
}

.cancel {
  background: #F6F7FB;
  color: #888;
}

.confirm {
  margin-left: 20px;
  background: #CC5656;
  color: #fff;
}
