.avatar {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E5EBF7;
  border-radius: 50%;
  overflow: hidden;

  &.has-avatar {
    background: none;
  }
}

.icon-avatar,
.avatar-url {
  width: 100%;
  height: 100%;
}
